@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:900,700,400,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container:before{
	content: '';
	position: absolute;
	background-color: rgba(0,0,0, .5);
	transform: rotate(10deg)
}

html {
  background: url(img/background-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: table;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

.svg {
    -webkit-filter: grayscale(1.1);
    -webkit-transform:scale(0.7);
    -moz-transform:scale(0.7);
    -o-transform:scale(0.7);
    width: 125px;
    height: 125px;
    margin-top: 10px;
    transition: .25s transform linear;
}

.svg:hover {
  width: 125px;
  height: 125px;
  -webkit-filter: grayscale(0);
  -webkit-transform:scale(1.0);
  -moz-transform:scale(1.0);
  -o-transform:scale(1.0);
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, transform 1s;
}


.tech {
  background-color: rgba(0,0,0, .3);
  width: 100vw;
  height: 15vh;
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
  margin: 0;
}

h1 span {
  color: #FF7400;
}

h2 {
  margin: 0 0 30px 0;
  font-size: 30px;
}

h1, h2 {
  font-weight: 100;
}

.social a {
  text-decoration: none;
}

.social a span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 7px;
  background-size: cover;
}

.social a:first-child span {
  margin-left: 0;
}

.social a:last-child span {
  margin-right: 0;
}

.linkedin {
  background-image: url('linkedin.png');
}

.github {
  background-image: url('github.png');
}

.email {
  background-image: url('email.png');
}

.facebook {
  background-image: url('facebook.png');
}

a.blog-link {
  position: absolute;
  right: 35px;
  top: 25px;
  color: #fff;
  text-decoration: none;
  margin: 0;
  font-weight: 300;
}

@media only screen and (max-width: 767px) {
  .svg {
      width: 50px;
      height: 50px;
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -o-transform:scale(1);
  }

  .svg:hover {
    width: 50px;
    height: 50px;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
  }
}

  .tech {
    position: fixed;
  }

@media only screen and (max-width: 767px) and (orientation: portrait) {
  .svg {
      width: 50px;
      height: 50px;
      -webkit-transform:scale(1);
      -moz-transform:scale(1);
      -o-transform:scale(1);
  }
  .svg:hover {
    width: 50px;
    height: 50px;
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, transform 1s;
  }

  .tech {
    position: fixed;
  }

}
